/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 1280px;
    padding: 0px 25px;
    margin: 15px auto;
}

a {
    text-decoration: none;
}

/* NAVIGATION MENU */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 11;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 3rem;
}

.navbar-title {
    padding: 0px 10px;
    font-weight: 700;
    font-size: 1.8rem;
}

.menu-wrapper {
    display: flex;
}

.menu-wrapper li {
    list-style: none;
    margin-left: 40px;
}

.menu-wrapper li a {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 10px;
}

.menu-wrapper li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: hidden;
    border-bottom: 0px solid #e02c6e00;
    transition: .2s ease-in-out;
}

.navbar-btn {
    border: 2px solid #ED6436;
    padding: 0.6rem 1rem;
    border-radius: 25px;
    border-top-left-radius: 0px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem !important;
}

/* NAVIGATION HOVER EFFECT */
.menu-wrapper li a:hover {
    color: #ED6436;
}

.menu-wrapper li a:hover::after {
    border-bottom: 3px solid #ED6436;
}

/* BANNER SECTION */
.banner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.banner-content{
    padding-left: 25px;
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-content h1{
    font-size: 3.8rem;
    font-weight: 800;
}
.banner-content p{
    font-size: 1.2rem;
}

.banner-img img {
    padding-top: 5px;
    width: 100%;
    transform: scaleX(-1);
}
.icon-wrap{
    display: flex;
    font-size: 1.3rem;
}
.icon{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    margin-right: 2rem;
}
.icon h3{
    margin-left: 8px;
}